<div class="text-center py-6 text-xl">
  <h1><%= @name %> (<%= @city %>)</h1>
</div>
<div class="py-2 px-4">
  <% cache "tournaments_list/#{@model_name}/#{@team_id}" do %>
    <%= render "tournaments_list" %>
  <% end %>
</div>
