<% @title="Рейтинг МАИИ" %>
<h1 class="text-center py-4 text-xl">Турниры</h1>

<table class="shadow-lg bg-white table-fixed">
  <thead>
  <tr>
    <th class="bg-blue-100 border text-center px-2 py-2 w-1/8">Дата</th>
    <th class="bg-blue-100 border text-center px-2 w-1/4">Турнир</th>
    <th class="bg-blue-100 border text-center px-2 w-1/8">Тип</th>
    <th class="bg-blue-100 border text-center px-2 w-1/4">Бонус победителя</th>
  </tr>
  </thead>

  <tbody>
  <% @tournaments.each do |tournament| %>
    <tr class="border py-2 hover:bg-gray-100">
      <td class="border px-2 py-2 text-center"><%= I18n.l(tournament["date"].to_date, format: :short) %></td>
      <td class="border px-2 hover:underline">
        <%= link_to(tournament["name"], tournament_path(tournament_id: tournament["id"])) %>
      </td>
      <td class="border px-2 text-center"><%= tournament["type"] %></td>
      <td class="border px-2 text-center"><%= tournament["rating"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

