<%= round_place(place) %>
<% if previous_place.present? && place.present? && place != previous_place %>
  <% if previous_place > place %>
    <span class="text-xs">↑<%= round_place(previous_place - place) %></span>
  <% else %>
    <span class="text-xs">↓<%= round_place(place - previous_place) %></span>
  <% end %>
<% end %>
