<% @title="#{@name} — рейтинг МАИИ" %>
<div class="self-center py-4 text-xl">
  <h1><%= @name %></h1>
</div>
<div class="py-2">
  <% cache "player_tournaments_list/#{@model_name}/#{@player_id}" do %>
    <%= render "tournaments_list" %>
  <% end %>
</div>
<h4 class="text-l text-center py-2">Турниры до МАИИ</h4>
<div class="py-2">
  <% cache "player_old_tournaments_list/#{@model_name}/#{@player_id}" do %>
    <%= render "old_tournaments_list" %>
  <% end %>
</div>
