<div class="flex">
  <div class="flex-col mx-4 my-4">
  <div class="flex-row">
    <div>
      <% cache "release_dropdown/#{@model_name}" do %>
        <%= render "release_dropdown" %>
      <% end %>
    </div>

  </div>

  <div class="flex-row my-2">
    <% cache "release/#{@model_name}/#{@release_id}" do %>
      <%= render "release" %>
    <% end %>
  </div>
  </div>
</div>