<article class="prose dark:prose-invert prose-lg lg:prose-xl max-w-none">
<h1>Правила командных викторин с раундами по минуте (КВРМ)</h1>

<p>По историческим причинам существует семейство игр с близкими правилами и разными названиями, самые известные из которых — «Спортивное „Что? Где? Когда?“» и «60 секунд».</p>
<div class="toc"><ul>
    <li><a href="#1">1. Описание игры</a>
        <ul>
            <li><a href="#1.1">1.1. Определение и принципы игры</a></li>
            <li><a href="#1.2">1.2. Участники игры</a>
                <ul>
                    <li><a href="#1.2.1">1.2.1. Организационная группа</a></li>
                    <li><a href="#1.2.2">1.2.2. Редакционная группа</a></li>
                    <li><a href="#1.2.3">1.2.3. Техническая группа</a></li>
                    <li><a href="#1.2.4">1.2.4. Игровое жюри</a></li>
                    <li><a href="#1.2.5">1.2.5. Апелляционное жюри</a></li>
                    <li><a href="#1.2.6">1.2.6. Игроки</a></li>
                    <li><a href="#1.2.7">1.2.7. Зрители</a></li>
                    <li><a href="#1.2.8">1.2.8. Консультанты</a></li>
                </ul>
            </li>
            <li><a href="#1.3">1.3. Определение вопроса</a>
                <ul>
                    <li><a href="#1.3.1">1.3.1. Текст вопроса</a></li>
                    <li><a href="#1.3.2">1.3.2. Указания ведущему</a></li>
                    <li><a href="#1.3.3">1.3.3. Ответ</a></li>
                    <li><a href="#1.3.4">1.3.4. Зачёт</a></li>
                    <li><a href="#1.3.5">1.3.5. Комментарий</a></li>
                    <li><a href="#1.3.6">1.3.6. Источник</a></li>
                    <li><a href="#1.3.7">1.3.7. Автор</a></li>
                </ul>
            </li>
            <li><a href="#1.4">1.4. Розыгрыш вопроса</a></li>
            <li><a href="#1.5">1.5. Спорные ответы</a></li>
            <li><a href="#1.6">1.6. Апелляции</a>
                <ul>
                    <li><a href="#1.6.1">1.6.1. Апелляция на зачёт ответа команды</a></li>
                    <li><a href="#1.6.2">1.6.2. Апелляция на некорректность вопроса</a></li>
                    <li><a href="#1.6.3">1.6.3. Апелляция на ошибку в воспроизведении вопроса</a></li>
                    <li><a href="#1.6.4">1.6.4. Апелляция на ошибку в переводе вопроса</a></li>
                    <li><a href="#1.6.5">1.6.5. Порядок рассмотрения апелляций</a></li>
                </ul>
            </li>
            <li><a href="#1.7">1.7. Оценка правильности ответа</a></li>
            <li><a href="#1.8">1.8. Особенности типографики</a></li>
        </ul>
    </li>
    <li><a href="#2">2. Виды игр</a>
        <ul>
            <li><a href="#2.1">2.1. Формы проведения</a>
                <ul>
                    <li><a href="#2.1.1">2.1.1. Очный турнир</a></li>
                    <li><a href="#2.1.2">2.1.2. Строго синхронный турнир</a></li>
                    <li><a href="#2.1.3">2.1.3. Заочный турнир</a></li>
                    <li><a href="#2.1.4">2.1.4. Строго синхронный онлайн-турнир</a></li>
                    <li><a href="#2.1.5">2.1.5. Заочный онлайн-турнир</a></li>
                </ul>
            </li>
            <li><a href="#2.2">2.2. Мультиязычный турнир</a></li>
        </ul>
    </li>
    <li><a href="#3">3. Нарушения и виды игровых санкций</a>
        <ul>
            <li><a href="#3.1">3.1. Предупреждение</a></li>
            <li><a href="#3.2">3.2. Технический незачёт ответа</a></li>
            <li><a href="#3.3">3.3. Дисквалификация</a></li>
        </ul>
    </li>
</ul>
</div>

<h1 id="1<span-id=1><span>-opisanie-igry">1.<span id="1"></span> Описание игры</h1>

<h2 id="11<span-id=11><span>-opredelenie-i-principy-igry">1.1.<span id="1.1"></span> Определение и принципы игры</h2>

<p>КВРМ — командное соревнование, цель которого состоит в нахождении правильных ответов на заданные вопросы за отведённое время. Соревнование должно иметь собственный регламент, положения которого не должны противоречить настоящим Правилам.</p>

<p>Команды соревнуются на одних и тех же вопросах, заданных в одном и том же порядке. Время, отведённое на поиск ответа, одинаково для всех команд. В обсуждении вопроса не может участвовать более 6 игроков. Воспроизведение вопросов для всех команд должно быть основано на едином принципе, например, голосом ведущего и/или визуально в режиме презентации. Для поиска ответа командам запрещается пользоваться внешними источниками информации (за исключением неподконтрольных командам) и помощью третьих лиц.</p>

<p>Игра может состоять из одного этапа или быть разбита на несколько этапов. Каждый этап игры не может состоять менее, чем из 6 вопросов. Команда, правильно ответившая на большее количество вопросов отдельного этапа игры, всегда занимает на данном этапе более высокое место, чем команда, правильно ответившая на меньшее количество вопросов. Если команды участвовали в одних и тех же этапах, команда, сыгравшая лучше каждый этап, всегда побеждает команду, сыгравшую хуже каждый этап.</p>

<p>В состав команды на одном соревновании может входить не более 9 человек. Регламент соревнования может ограничивать состав команды меньшим числом игроков. В рамках одного соревнования игрок может быть включён в состав только одной команды.</p>

<p>При проведении <a href="#2.2">мультиязычных турниров</a> в контексте данных правил все языковые версии вопроса считаются одним вопросом с общими критериями оценки правильности ответов.</p>

<h2 id="12<span-id=12><span>-ucastniki-igry">1.2.<span id="1.2"></span> Участники игры</h2>

<p>Участники соревнования делятся на членов <a href="#1.2.1">организационной</a>, <a href="#1.2.2">редакционной</a> и <a href="#1.2.3">технической</a> групп, членов <a href="#1.2.4">игрового</a> и <a href="#1.2.5">апелляционного жюри</a>, <a href="#1.2.6">игроков</a>, <a href="#1.2.7">зрителей</a> и <a href="#1.2.8">консультантов</a>. Участник может выступать в нескольких ролях, если это не запрещено настоящими Правилами.</p>

<p>Всем участникам соревнования запрещается разглашать вопросы, а также использованные факты и идеи в течение срока, установленного организационной группой. Если регламент не оговаривает данный срок, запрещается разглашать вопросы, а также использованные факты и идеи до окончания соревнования.</p>

<h3 id="121<span-id=121><span>-organizacionnaa-gruppa">1.2.1.<span id="1.2.1"></span> Организационная группа</h3>

<p>Организационная группа включает в себя непосредственных организаторов соревнования, а также их представителей на игровых площадках. На каждой из площадок, задействованных для проведения соревнования, должен присутствовать хотя бы один представитель организационной группы.</p>

<p>Организационная группа:</p>

<ul>
    <li>в лице непосредственных организаторов формирует регламент соревнования и обеспечивает его проведение;</li>
    <li>в лице непосредственных организаторов определяет состав редакционной и технической групп, игрового и апелляционного жюри;</li>
    <li>фиксирует составы команд;</li>
    <li>следит за соблюдением регламента соревнования и настоящих Правил;</li>
    <li>выносит дисциплинарные санкции в пределах своей компетенции;</li>
    <li>предоставляет игрокам текст разыгранных вопросов, сообщает игрокам решения игрового жюри и апелляционного жюри;</li>
    <li>принимает спорные ответы команд и передаёт их в игровое жюри;</li>
    <li>в лице непосредственных организаторов сообщает апелляционному жюри решения, принятые игровым жюри;</li>
    <li>хранит ответы команд до момента подведения итогов соревнования, если более длительный срок не закреплён в регламенте соревнования;</li>
    <li>в лице непосредственных организаторов подводит итоги соревнования.</li>
</ul>

<h3 id="122<span-id=122><span>-redakcionnaa-gruppa">1.2.2.<span id="1.2.2"></span> Редакционная группа</h3>

<p>Редакционная группа включает в себя редакторов пакета и авторов вопросов. Редакторы готовят пакет вопросов для проведения соревнования, основываясь на фактах и идеях авторов вопросов. Редакторы предоставляют организационной группе список авторов.</p>

<p>При проведении <a href="#2.2">мультиязычных турниров</a> в редакционную группу включаются также переводчики отдельных языковых версий пакета.</p>

<p>Запрещается совмещать роли члена редакционной группы и <a href="#1.2.5">апелляционного жюри</a>. </p>

<h3 id="123<span-id=123><span>-tehniceskaa-gruppa">1.2.3.<span id="1.2.3"></span> Техническая группа</h3>

<p>Техническая группа включает в себя ведущего и прочих лиц, ответственных за техническую сторону проведения соревнования.</p>

<p>Техническая группа:</p>

<ul>
    <li>в лице ведущего воспроизводит тексты вопросов, ответы и прочую информацию согласно п. <a href="#1.4.4">1.4.4</a>;</li>
    <li>обеспечивает команды дополнительными материалами в случае их наличия;</li>
    <li>обеспечивает отсчёт времени, отведённого на обсуждение вопроса и запись ответа;</li>
    <li>принимает ответы команд по истечении времени, отведённого на запись ответа;</li>
    <li>следит за соблюдением регламента соревнования и настоящих Правил, выносит дисциплинарные санкции в рамках своей компетенции;</li>
    <li>оценивает правильность ответов команд согласно п. <a href="#1.7.3">1.7.3</a>;</li>
    <li>подсчитывает результаты команд и оглашает предварительные результаты соревнования.</li>
</ul>

<p>Не рекомендуется совмещать роли члена технической группы с ролью <a href="#1.2.6">игрока</a> (кроме турниров, проводящихся на вопросах участвующих команд), однако в исключительных случаях отдельные функции технической группы (обеспечение дополнительными материалами, приём ответов) могут быть переданы игрокам. Также функции технической группы могут быть автоматизированы и выполняться без непосредственного участия человека. </p>

<p>Рекомендуется не совмещать роль члена технической группы, ответственного за оценку правильности ответов, с ролью члена <a href="#1.2.5">апелляционного жюри</a>.</p>

<h3 id="124<span-id=124><span>-igrovoe-zuri">1.2.4.<span id="1.2.4"></span> Игровое жюри</h3>

<p>Игровое жюри выносит решения по оценке правильности спорных ответов согласно п. <a href="#1.7.4">1.7.4</a>. </p>

<p>Не допускается совмещение роли члена игрового жюри с ролью <a href="#1.2.6">игрока</a> (кроме турниров, проводящихся на вопросах участвующих команд), не рекомендуется — с ролью члена <a href="#1.2.5">апелляционного жюри</a>. Рекомендуется включать в состав игрового жюри хотя бы одного члена <a href="#1.2.2">редакционной группы</a>.</p>

<p>Игровое жюри выносит решения способом, указанным в регламенте соревнования, а в отсутствие указания — простым большинством голосов.</p>

<h3 id="125<span-id=125><span>-apellacionnoe-zuri">1.2.5.<span id="1.2.5"></span> Апелляционное жюри</h3>

<p>Апелляционное жюри формируется в том случае, если регламент допускает подачу апелляций хотя бы одного вида и выносит решения по апелляциям от команд. Не допускается совмещение роли члена апелляционного жюри с ролью <a href="#1.2.6">игрока</a>, не рекомендуется — с ролью члена <a href="#1.2.4">игрового жюри</a>. Рекомендуется включать в состав апелляционного жюри не менее 3 человек.</p>

<p>Апелляционное жюри выносит решения способом, указанным в регламенте соревнования, а в отсутствие указания — простым большинством голосов.</p>

<h3 id="126<span-id=126><span>-igroki">1.2.6.<span id="1.2.6"></span> Игроки</h3>

<p>Игроки — люди, принимающие участие в соревновании в составе какой-либо команды. Все игроки команды должны быть внесены в её заявочный состав. Не допускается внесение в заявочный состав игрока, не подтвердившего явным образом своё на то согласие. </p>

<p>Игроки, участвующие в розыгрыше вопроса, считаются игроками основного состава, остальные члены команды считаются запасными игроками. В заявочный состав должны быть внесены все игроки, сыгравшие хотя бы один вопрос, и только они.</p>

<p>В ходе соревнования допускаются замены между игроками основного состава и запасными игроками в количестве и в отрезки времени, определённые регламентом соревнования. Не допускается проведение замены в ходе розыгрыша вопроса. Если регламент не оговаривает данные условия, то замены могут быть проведены в любом количестве в перерывах между розыгрышами вопросов.</p>

<p>Игроки не могут участвовать в розыгрыше вопросов, ставших им известными вследствие участия в <a href="#1.2.2">редакционной группе</a>, в качестве <a href="#1.2.8">консультанта</a> или иным образом. Регламент соревнования может предусматривать запрет участия в розыгрыше отдельных вопросов, в содержащих эти вопросы отрезках соревнования либо в соревновании целиком. Если регламент не предусматривает данный запрет, то он распространяется только на отдельные известные вопросы.</p>

<h3 id="127<span-id=127><span>-zriteli">1.2.7.<span id="1.2.7"></span> Зрители</h3>

<p>Зрителями являются лица, присутствующие на соревновании, но не выступающие ни в одной из вышеперечисленных ролей. Регламент соревнований может ограничивать или запрещать присутствие зрителей.</p>

<h3 id="128<span-id=128><span>-konsulʹtanty">1.2.8.<span id="1.2.8"></span> Консультанты</h3>

<p>Консультанты – те, к чьей помощи прибегает <a href="#1.2.2">редакционная группа</a> при подготовке пакета вопросов. Редакционная группа предоставляет <a href="#1.2.1">организационной группе</a> список консультантов.</p>

<p>Не рекомендуется совмещать роль консультанта и члена <a href="#1.2.5">апелляционного жюри</a>.</p>

<h2 id="13<span-id=13><span>-opredelenie-voprosa">1.3.<span id="1.3"></span> Определение вопроса</h2>

<p>Вопрос является базовой составляющей игры. Вопрос состоит из следующих обязательных и необязательных частей:</p>

<h3 id="131<span-id=131><span>-tekst-voprosa">1.3.1.<span id="1.3.1"></span> Текст вопроса</h3>

<p>Текст вопроса является обязательной частью вопроса и представляет собой набор условий, который сообщается командам и позволяет логическим путём найти ответ. Для нахождения ответа также могут требоваться определённые знания, но, как правило, логическая составляющая поиска ответа сложнее фактической. Текст вопроса может содержать дополнительные текстовые, иллюстративные, аудио- или видеоматериалы.</p>

<h3 id="132<span-id=132><span>-ukazania-vedusemu">1.3.2.<span id="1.3.2"></span> Указания ведущему</h3>

<p>Указания ведущему являются необязательной частью вопроса и представляют собой сведения о том, как именно ведущему следует сообщать игрокам определённые фрагменты текста вопроса. Указания ведущему могут содержать информацию о паузах, акцентировании слов, чтении иностранных слов, ударениях и т.д. Текст указаний ведущему не сообщается командам до оглашения правильного ответа.</p>

<h3 id="133<span-id=133><span>-otvet">1.3.3.<span id="1.3.3"></span> Ответ</h3>

<p>Поле «Ответ» является обязательной частью вопроса и содержит одну или несколько реалий (субъектов, предметов, понятий, лексем и т.д.), которые, по замыслу редакционной группы, должны определить команды.</p>

<h3 id="134<span-id=134><span>-zacet">1.3.4.<span id="1.3.4"></span> Зачёт</h3>

<p>Поле «Зачёт» является необязательной частью вопроса и содержит варианты ответа, которые редакционная группа решила приравнять к полю «Ответ» (далее — авторский ответ). Кроме того, в этом поле могут содержаться описательные критерии зачёта, соответствие которым приравнивает ответ команды к авторскому.</p>

<h3 id="135<span-id=135><span>-kommentarij">1.3.5.<span id="1.3.5"></span> Комментарий</h3>

<p>Комментарий является необязательной частью вопроса и представляет собой информацию, которую авторы вопроса решили сообщить игрокам. Как правило, комментарий разъясняет связь между текстом вопроса и ответом, а также пути нахождения ответа.</p>

<h3 id="136<span-id=136><span>-istocnik">1.3.6.<span id="1.3.6"></span> Источник</h3>

<p>Источник является обязательной частью вопроса и представляет собой список материалов, подтверждающих соответствие ответа условиям, перечисленным в тексте вопроса.</p>

<h3 id="137<span-id=137><span>-avtor">1.3.7.<span id="1.3.7"></span> Автор</h3>

<p>Поле «Автор» является обязательной частью вопроса и включает в себя список людей, участвовавших в создании данного вопроса.</p>

<p>1.3.8.<span id="1.3.8"></span> Все непредусмотренные правилами поля приравниваются к полю «Комментарий».</p>

<h2 id="14<span-id=14><span>-rozygrys-voprosa">1.4.<span id="1.4"></span> Розыгрыш вопроса</h2>

<p>1.4.1.<span id="1.4.1"></span> В розыгрыше вопроса может принимать участие не более 6 игроков. Также регламент соревнования может предусматривать иное максимальное количество игроков, но не более 6.</p>

<p>1.4.2.<span id="1.4.2"></span> При каждом розыгрыше вопроса командам выделяется 60 секунд на поиск ответа и 10 секунд на запись ответа.</p>

<p>1.4.3.<span id="1.4.3"></span> Вопрос может состоять из 2 или более подвопросов, как правило, связанных друг с другом определённым принципом или тематикой. В этом случае суммарное время поиска ответов на подвопросы также должно составлять 60 секунд, ещё 10 секунд даётся на запись всех ответов.</p>

<p>1.4.4.<span id="1.4.4"></span> Розыгрыш вопроса состоит из следующих этапов, проходящих последовательно:</p>

<ul>
    <li>ведущий воспроизводит номер вопроса;</li>
    <li>в случае наличия дополнительных материалов техническая группа обеспечивает командам доступ к ним, в том числе, если необходимо, запускает их воспроизведение. Рекомендуется дать командам время на ознакомление с материалами. Регламент соревнования может допускать отправку дополнительных материалов на электронные устройства, находящиеся на игровых местах команд;</li>
    <li>ведущий воспроизводит текст вопроса и запускает отсчёт времени, сообщив командам о начале отсчёта с помощью команды «Время» или звукового сигнала;</li>
    <li>если вопрос состоит из нескольких подвопросов, текст очередного подвопроса воспроизводится после истечения времени на обсуждение предыдущего подвопроса;</li>
    <li>техническая группа может досрочно принять ответ у команды, если команда сигнализирует о его готовности. Запрещается изменение ответа, сданного технической группе;</li>
    <li>за 10 секунд до окончания времени на поиск ответа ведущий воспроизводит предупреждение об этом;</li>
    <li>по истечении времени на поиск ответа ведущий воспроизводит сигнал об окончании минуты и начинает обратный десятисекундный отсчёт от «10» до «0»;</li>
    <li>в это время команды записывают и фиксируют ответы. Регламент соревнования может допускать сдачу ответов при помощи электронных устройств. После объявления счёта «0» изменение или написание ответа запрещено;</li>
    <li>после объявления счёта «0» техническая группа начинает принимать ответы у команд;</li>
    <li>после окончания приёма ответов у команд ведущий воспроизводит авторский ответ и другую сопутствующую информацию. Рекомендуется воспроизводить критерии зачёта и комментарий.</li>
</ul>

<p>Для воспроизведения любой текстовой информации ведущий может использовать как собственный голос, так и аудио- или видеозаписи, а также, если это предусмотрено регламентом турнира, экраны электронных устройств, в том числе находящихся на игровых местах команд. Если это предусмотрено регламентом турнира, в тексты, выводимые на экраны электронных устройств, могут быть внесены изменения по сравнению с текстом пакета для ведущего.</p>

<h2 id="15<span-id=15><span>-spornye-otvety">1.5.<span id="1.5"></span> Спорные ответы</h2>

<p>По окончании розыгрыша последнего вопроса либо в перерывах между блоками вопросов организационная группа предоставляет командам возможность ознакомиться с текстом вопросов, информацией о зачтённых им ответах, а также формирует список спорных ответов. Организационная группа обязана включить в список спорных ответов по запросу команды данный ею ответ (включая засчитанный). Также ответы могут быть включены в список и без соответствующего запроса. Запрещается оспаривать в качестве спорного ответ, незачтённый согласно п. <a href="#3.2">3.2</a> настоящих Правил. По итогам рассмотрения спорных ответов организационная группа сообщает командам решения игрового жюри.</p>

<p>Ответственность за соблюдение данного пункта лежит на организационной группе, однако отдельные функции могут быть переданы технической группе.</p>

<h2 id="16<span-id=16><span>-apellacii">1.6.<span id="1.6"></span> Апелляции</h2>

<p>Апелляция — обращение команды к апелляционному жюри.</p>

<p>Допускаются апелляции следующих видов:</p>

<ul>
    <li>на зачёт ответа команды;</li>
    <li>на некорректность вопроса;</li>
    <li>на ошибку в воспроизведении вопроса;</li>
    <li>на ошибку в переводе вопроса.</li>
</ul>

<p>В регламенте соревнования должно быть оговорено, какие типы апелляций разрешены, а также срок их подачи. Рекомендуется разрешать апелляции как минимум первого и второго типа.</p>

<p>В случае запрета апелляций на ошибку в воспроизведении вопроса, если такая ошибка затронула только часть команд и существенно упростила взятие вопроса, непосредственные организаторы турнира вправе не засчитать ответы тех команд, которые эта ошибка затронула. Представители на игровых площадках обязаны уведомить о любой ошибке в воспроизведении вопроса непосредственных организаторов турнира. Решение о существенности ошибки и незачёте ответов не может быть обжаловано в апелляционном жюри.</p>

<p>Регламент соревнования может допускать подачу апелляций в перерыве только на вопросы предыдущего блока вопросов. Срок подачи апелляций отсчитывается с того момента, когда команды получают возможность ознакомиться с текущими результатами и текстом вопросов. Для очных и строго синхронных турниров данный срок не может составлять менее 10 минут, для заочных турниров — менее 24 часов. Запрещается подавать апелляцию на зачёт ответа команды в случае незачёта ответа согласно п. <a href="#3.2">3.2</a> настоящих Правил.</p>

<p>В регламенте соревнования может быть оговорен залог за подачу апелляции, выраженный в денежном эквиваленте или апелляционных баллах (условная единица, определяющая, сколько апелляций, за исключением удовлетворённых, команда может подать в рамках одного турнира или системы турниров). В случае удовлетворения апелляции залог возвращается команде. Запрещается использовать в качестве залога количество взятых вопросов и другие показатели, влияющие на распределение мест.</p>

<p>Апелляционное жюри не обязано при рассмотрении апелляции ограничиваться приведёнными в ней аргументами.</p>

<p>По итогам рассмотрения апелляций организационная группа ознакомляет команды с решениями апелляционного жюри.</p>

<p>Членам организационной группы рекомендуется следить за тем, чтобы членам апелляционного жюри до окончания их работы не было известно, кто именно подал апелляцию. В частности, для этого организационной группе рекомендуется удалять из передаваемых в АЖ текстов апелляций информацию, идентифицирующую команды.</p>

<h3 id="161<span-id=161><span>-apellacia-na-zacet-otveta-komandy">1.6.1.<span id="1.6.1"></span> Апелляция на зачёт ответа команды</h3>

<p>Организационная группа передаёт апелляционному жюри для каждого апеллируемого вопроса список ответов, зачтённых игровым жюри. Критерии удовлетворения апелляции на зачёт ответа команды описаны в п. <a href="#1.7.5">1.7.5</a>.</p>

<p>Если апелляционное жюри удовлетворяет апелляцию на зачёт ответа команды, организационная группа обязана передать апелляционному жюри все ответы команд на данный вопрос, которые были отклонены игровым жюри, а также ответы, которые были отклонены технической группой и не рассматривались игровым жюри, но, по мнению организационной группы или самих команд, близки к зачтённому по апелляции. Всем командам, давшим аналогичный ответ, их ответ засчитывается как правильный. Аналогичность ответа определяет апелляционное жюри согласно п. <a href="#1.7.1">1.7.1</a>.</p>

<h3 id="162<span-id=162><span>-apellacia-na-nekorrektnostʹ-voprosa">1.6.2.<span id="1.6.2"></span> Апелляция на некорректность вопроса</h3>

<p>В соответствии с регламентом соревнования апелляционное жюри удовлетворяет апелляцию на некорректность вопроса в одном из следующих случаев:</p>

<ul>
    <li>если текст вопроса содержит любую фактическую ошибку;</li>
    <li>если текст вопроса содержит существенную фактическую ошибку, которая может помешать командам найти авторский ответ.</li>
</ul>

<p>Если регламент турнира допускает апелляции на некорректность вопроса, но не содержит этой информации, вопрос снимается, если он содержит существенную фактическую ошибку, которая может помешать командам найти авторский ответ.</p>

<p>Если апелляционное жюри удовлетворяет апелляцию на некорректность вопроса (или любого из составляющих его подвопросов), данный вопрос не учитывается при подсчёте правильных ответов для всех команд.</p>

<h3 id="163<span-id=163><span>-apellacia-na-osibku-v-vosproizvedenii-voprosa">1.6.3.<span id="1.6.3"></span> Апелляция на ошибку в воспроизведении вопроса</h3>

<p>Апелляционное жюри удовлетворяет апелляцию на ошибку в воспроизведении вопроса в случае, если вопрос был воспроизведён в существенно изменённом виде. В регламенте может быть указана минимальная доля от общего количества сыгравших турнир команд, для которых этот вопрос был воспроизведён в изменённом виде, для того, чтобы команда имела право подать такую апелляцию. Если такая доля в регламенте не указана, она принимается равной 2%.</p>

<p>К ошибкам в воспроизведении вопроса могут относиться в том числе речевые и типографские ошибки, а также технические неполадки, возникшие при чтении вопроса, визуальном отображении вопроса (презентации), или содержащиеся в дополнительных материалах.</p>

<p>Если апелляционное жюри удовлетворяет апелляцию на ошибку в воспроизведении вопроса, данный вопрос не учитывается при подсчёте правильных ответов для всех команд, участвующих в соревновании.</p>

<h3 id="164<span-id=164><span>-apellacia-na-osibku-v-perevode-voprosa">1.6.4.<span id="1.6.4"></span> Апелляция на ошибку в переводе вопроса</h3>

<p>Апелляции на ошибку в переводе вопроса принимаются только на <a href="#2.2">мультиязычных турнирах</a> и только если это предусмотрено регламентом турнира.</p>

<p>Апелляционное жюри удовлетворяет апелляцию на ошибку в переводе вопроса в случае, если:</p>

<ul>
    <li>одна из языковых версий вопроса в процессе перевода утратила корректность;</li>
    <li>одна из языковых версий вопроса в процессе перевода стала существенно более простой или существенно более сложной, чем основная версия вопроса.</li>
</ul>

<p>В регламенте может быть указана минимальная доля от общего количества сыгравших турнир команд, которых коснулась подобная ошибка, для того, чтобы команда имела право подать такую апелляцию. Если такая доля в регламенте не указана, она принимается равной 2%.</p>

<p>Если апелляционное жюри удовлетворяет апелляцию на ошибку в переводе вопроса, данный вопрос не учитывается при подсчёте правильных ответов для всех команд, участвующих в соревновании.</p>

<h3 id="165<span-id=165><span>-poradok-rassmotrenia-apellacij">1.6.5.<span id="1.6.5"></span> Порядок рассмотрения апелляций</h3>

<p>В первую очередь апелляционное жюри рассматривает апелляции на некорректность вопроса и на ошибку в воспроизведении вопроса. Если любая из этих апелляций удовлетворена, то остальные апелляции на данный вопрос не рассматриваются, апелляционный залог за все апелляции на этот вопрос возвращается.</p>

<p>При рассмотрении апелляции не могут быть приняты во внимание факты и материалы, не существовавшие на момент розыгрыша вопроса.</p>

<h2 id="17<span-id=17><span>-ocenka-pravilʹnosti-otveta">1.7.<span id="1.7"></span> Оценка правильности ответа</h2>

<p>1.7.1.<span id="1.7.1"></span> Ответ считается правильным, если выполняется хотя бы одно из перечисленных условий:</p>

<p>a. он совпадает с авторским ответом или соответствует критериям зачёта;<br/>
    b. он отличается от авторского ответа или любого из ответов, соответствующих критериям зачёта, лишь грамматическими формами, порядком слов, синтаксисом и пунктуацией, при этом смысл ответа и его соответствие всем условиям вопроса не изменяется;<br/>
    c. он отличается от авторского ответа или любого из ответов, соответствующих критериям зачёта, наличием орфографических ошибок, сокращений или неразборчиво написанных символов, при этом ответ не может быть трактован двояко и продолжает соответствовать всем условиям вопроса не хуже, чем авторский ответ или ответ, соответствующий критериям зачёта.<br/>
    d. он содержит ответ, который подлежит зачёту по какому-то из подпунктов п. <a href="#1.7.1">1.7.1</a> (a–c, e–g), а также дополнительную верную информацию, которая не может быть истолкована как альтернативный неверный ответ;<br/>
    e. он указывает на ту же реалию (или реалии, если их несколько), что и авторский ответ или ответ, соответствующий критериям зачёта, и при этом является достаточно точным согласно п. <a href="#1.7.6">1.7.6</a>.<br/>
    f. он указывает на реалию (реалии), не содержащиеся в авторском ответе или критериях зачёта, однако соответствует всем условиям вопроса не хуже, чем авторский ответ или ответ, соответствующий критериям зачёта.<br/>
    g. игровое жюри считает его отличие от авторского ответа или ответа, соответствующего критериям зачёта, несущественным применительно к вопросу.</p>

<p>Если вопрос состоит из нескольких подвопросов, то как правило, команде засчитывается правильный ответ только в том случае, если она правильно ответила на все подвопросы. Однако если в вопросе и/или критериях зачёта явно указан иной принцип зачёта, оценивать правильность ответа следует в соответствии с ним.</p>

<p>Ответы, уже зачтённые ИЖ и АЖ, для целей пункта <a href="#1.7">1.7</a> следует считать эквивалентными ответам, соответствующим критериям зачёта.</p>

<p>1.7.2.<span id="1.7.2"></span> Ответ считается неправильным, если:</p>

<p>a. он соответствует условиям вопроса хуже, чем авторский ответ, а также ответы, соответствующие критериям зачёта.<br/>
    b. он содержит дополнительную фактически неверную информацию.<br/>
    c. он является формальным, то есть лишь повторяет некоторые из фактов и логических связей, явным и очевидным образом содержащихся в условиях вопроса.<br/>
    d. вопрос состоит из нескольких подвопросов, при этом ответы на подвопросы перечислены либо объединены через общее слово в неправильном порядке.<br/>
    e. он удовлетворяет всем условиям вопроса лишь с учётом применения нестандартных тропов и экзотических логических трактовок, не заложенных редакционной группой в вопрос.<br/>
    f. он содержит более одного ответа, причём как минимум один из них нельзя засчитать в качестве верного ответа согласно п. <a href="#1.7.1">1.7.1</a>.<br/>
    g. вследствие неразборчивости он имеет несколько вариантов прочтения и как минимум один из них нельзя засчитать в качестве верного ответа согласно п. <a href="#1.7.1">1.7.1</a>.<br/>
    h. жюри считает его недостаточно точным в соответствии с п. <a href="#1.7.6">1.7.6</a>.<br/>
    i. он отклонён по техническим причинам в соответствии с пунктом <a href="#3.2">3.2</a>.</p>

<p>1.7.3.<span id="1.7.3"></span> Техническая группа засчитывает в качестве правильного ответ команды, если считает его правильным в соответствии с подпунктами a–d пункта <a href="#1.7.1">1.7.1</a>.</p>

<p>Техническая группа включает ответ команды в список спорных при наличии любых сомнений по поводу правильности или неправильности ответа, в частности, если считает его правильным в соответствии с подпунктами e–g пункта <a href="#1.7.1">1.7.1</a>.</p>

<p>1.7.4.<span id="1.7.4"></span> Игровое жюри засчитывает в качестве правильного ответ команды, в случае если считает его правильным в соответствии с подпунктами a–g пункта <a href="#1.7.1">1.7.1</a>. Игровому жюри рекомендуется пользоваться подпунктом g лишь в том случае, если в состав игрового жюри входят представители редакционной группы.</p>

<p>1.7.5.<span id="1.7.5"></span> Апелляционное жюри засчитывает в качестве правильного ответ команды, в случае если считает его правильным в соответствии с подпунктами a–f пункта <a href="#1.7.1">1.7.1</a>.</p>

<p>1.7.6.<span id="1.7.6"></span> Чтобы определить, является ли отличающийся от авторского ответ достаточно точным, игровое и апелляционное жюри учитывают указания относительно требуемой точности ответа в следующем порядке уменьшения значимости:</p>

<p>а) содержащиеся в тексте вопроса;<br/>
    б) следующие из контекста вопроса;<br/>
    в) содержащиеся в полях «Ответ» и «Зачёт», если они смягчают требования к ответу.</p>

<p>В частности, если реалия из ответа может быть представлена в точном виде, выраженная в описательном виде реалия не считается правильным ответом за исключением случаев, когда иное прямо оговорено в тексте вопроса или критериях зачёта.</p>

<h2 id="18<span-id=18><span>-osobennosti-tipografiki">1.8.<span id="1.8"></span> Особенности типографики</h2>

<p>1.8.1.<span id="1.8.1"></span> Заключённая в квадратные скобки информация в тексте вопроса считается указанием ведущему, если отдельно не оговорено иное. Как правило, данная информация подсказывает, как читаются иностранные слова, римские цифры и т.п.</p>

<p>1.8.2.<span id="1.8.2"></span> Если турнир предполагает демонстрацию командам текста вопроса, редакционная группа вправе вносить намеренные искажения в текст, предназначенный для демонстрации. Как правило, данные искажения затрагивают пунктуацию (кавычки) и капитализацию, тем самым приближая текст к тому варианту, который воспринимается командами на слух. Данные искажения не могут быть поводом для подачи апелляции на некорректность вопроса и на ошибку в воспроизведении вопроса.</p>

<p>1.8.3.<span id="1.8.3"></span> Заключённая в квадратные скобки информация в полях «Ответ» и «Зачёт» считается комментарием и не учитывается при сравнении ответа команды с авторским ответом или критериями зачёта. Исключением является случай, если отдельно оговорено, что квадратные скобки являются частью авторского ответа.</p>

<p>1.8.4.<span id="1.8.4"></span> Вся информация на бланке ответа вне зависимости от знаков препинания и прочих средств выделения является равно значимой и учитывается при определении правильности ответа.</p>

<h1 id="2<span-id=2><span>-vidy-igr">2.<span id="2"></span> Виды игр</h1>

<h2 id="21<span-id=21><span>-formy-provedenia">2.1.<span id="2.1"></span> Формы проведения</h2>

<h3 id="211<span-id=211><span>-ocnyj-turnir">2.1.1.<span id="2.1.1"></span> Очный турнир</h3>

<p>Очный турнир — вид соревнования, в рамках которого все команды играют одновременно, находясь на общей игровой площадке. Организационная и техническая группы выполняют свои функции в отношении всех участников соревнования. </p>

<p>Игроки команды при розыгрыше вопроса находятся в непосредственной близости друг от друга. За соблюдением регламента осуществляют контроль члены организационной и технической групп.</p>

<h3 id="212<span-id=212><span>-strogo-sinhronnyj-turnir">2.1.2.<span id="2.1.2"></span> Строго синхронный турнир</h3>

<p>Строго синхронный турнир с несколькими площадками — вид соревнования, на котором все команды играют одновременно, находясь на различных игровых площадках. Отдельные члены организационной и технической групп выполняют свои функции лишь в отношении участников той игровой площадки, на которой они находятся.</p>

<p>Разница во времени между розыгрышем одного и того же вопроса на всех игровых площадках не должна превышать 10 минут. Рекомендуется производить синхронизацию отыгрышей с помощью перерывов между блоками вопросов.</p>

<p>Игроки команды при розыгрыше вопроса находятся в непосредственной близости друг от друга. За соблюдением регламента осуществляют контроль члены организационной и технической групп. На каждой игровой площадке должен находиться как минимум один представитель организационной группы.</p>

<h3 id="213<span-id=213><span>-zaocnyj-turnir">2.1.3.<span id="2.1.3"></span> Заочный турнир</h3>

<p>Заочный турнир — вид соревнования, участие в котором команды принимают в разное время в течение отведённого периода. Отдельные члены организационной и технической групп выполняют свои функции лишь в отношении участников той игровой площадки (площадок), на которой(ых) они находятся во время соответствующего отыгрыша.</p>

<p>Допускается выполнение функций ведущего онлайн по аудио- или видеосвязи. Но и в этом случае на площадке должен присутствовать член технической группы, который выполняет функции по сбору ответов и контролю за соблюдением правил. Он не может совмещать эту роль с ролью игрока.</p>

<p>Игроки команды при розыгрыше вопроса находятся в непосредственной близости друг от друга. За соблюдением регламента осуществляют контроль члены организационной и технической групп. На каждой игровой площадке должен находиться как минимум один представитель организационной группы.</p>

<h3 id="214<span-id=214><span>-strogo-sinhronnyj-onlajn-turnir">2.1.4.<span id="2.1.4"></span> Строго синхронный онлайн-турнир</h3>

<p>Строго синхронный онлайн-турнир — вид соревнования, на котором все команды играют одновременно на одной или нескольких игровых онлайн-площадках. Отдельные члены организационной и технической групп могут выполнять свои функции лишь в отношении участников той игровой онлайн-площадки, к которой они приписаны. </p>

<p>Разница во времени между розыгрышем одного и того же вопроса на всех игровых площадках не должна превышать 10 минут. Рекомендуется производить синхронизацию отыгрышей с помощью перерывов между блоками вопросов.</p>

<p>Игроки команды при розыгрыше вопроса могут находиться в удалении друг от друга и общаться с помощью технических средств связи. За соблюдением регламента осуществляют контроль члены организационной и технической групп. Регламентом соревнования могут быть предусмотрены дополнительные требования, позволяющие контролировать выполнение игроками правил, такие как видеоконтроль, звукозапись обсуждения, присутствие представителя в чате команды и прочие.</p>

<h3 id="215<span-id=215><span>-zaocnyj-onlajn-turnir">2.1.5.<span id="2.1.5"></span> Заочный онлайн-турнир</h3>

<p>Заочный онлайн-турнир — вид соревнования, участие в котором команды принимают в разное время в течение отведённого периода. Отдельные члены организационной и технической групп могут выполнять свои функции лишь в отношении участников той игровой онлайн-площадки (площадок), к которой они приписаны во время соответствующего отыгрыша. </p>

<p>Игроки команды при розыгрыше вопроса могут находиться в удалении друг от друга и общаться с помощью технических средств связи. За соблюдением регламента осуществляют контроль члены организационной и технической групп. Регламентом соревнования могут быть предусмотрены дополнительные требования, позволяющие контролировать выполнение игроками правил, такие как видеоконтроль, звукозапись обсуждения, присутствие представителя в чате команды и прочие.</p>

<h2 id="22<span-id=22><span>-mulʹtiazycnyj-turnir">2.2.<span id="2.2"></span> Мультиязычный турнир</h2>

<p>Мультиязычный турнир — разновидность турнира, участники которого на различных площадках могут играть версии пакета вопросов на разных языках (далее — языковые версии). Мультиязычным может быть лишь турнир, проводимый более чем на одной площадке — строго синхронный турнир, заочный турнир, строго синхронный онлайн-турнир либо заочный онлайн-турнир. При этом каждый отыгрыш на отдельно взятой площадке проводится на одной языковой версии пакета.</p>

<p>При подготовке пакета вопросов мультиязычного турнира должны выполняться следующие требования:</p>

<ul>
    <li>доступная командам перед отыгрышем информация должна явно указывать, на каком языке или языках пакет был подготовлен изначально, и на каких он доступен для отыгрыша;</li>
    <li>редакционная группа готовит основную языковую версию пакета (допускаются ситуации, когда отдельные части пакета могут быть подготовлены на различных языках);</li>
    <li>переводчики в сотрудничестве с редакторами основной версии готовят переводные языковые версии пакета;</li>
    <li>при оформлении каждой языковой версии (всего пакета или его отдельной части) должно быть явно указано, является ли она основной (оригинальной) или переводной, язык оригинала, а в случае перевода также язык перевода и список переводчиков.</li>
</ul>

<p>При переводе вопросов переводчики должны руководствоваться принципами лингвистической и функциональной эквивалентности.</p>

<p>Под лингвистической эквивалентностью подразумевается, что переводная версия должна быть корректным переводом в том же смысле, в каком это относится к переводам других текстов, в том числе литературных и технических.</p>

<p>Под функциональной эквивалентностью подразумевается, что оригинал и перевод содержат одни и те же приёмы, заложенные редакторами, такие как смысловые замены, смысловые подсказки, технические отсечки указанием на число слов в ответе и т.п. Переводная версия не должна ни упускать, ни добавлять новые подсказки или способы нахождения ответа. В частности, этот пункт означает, что редакторам и переводчикам следует максимально учитывать особенности всех языков, на которые переводится пакет, в части таких приёмов, как:</p>

<ul>
    <li>слова, указывающие на грамматический род объектов (в том числе местоимения ОН/ОНА/ОНО, изменяющиеся по родам прилагательные и т.д.) — так как ряд языков не имеет этой категории, что осложняет поиск ответа в сравнении с языками, имеющими грамматический род;</li>
    <li>указания на число слов в ответе — кроме случая, когда реалия имеет однозначный перевод на каждый язык, и для каждого языка может быть надёжно определено число слов в ответе (оно может быть разным для разных языков);</li>
    <li>указания на фонетические и графемные особенности ответа (слова, начинающиеся на одну букву, парные согласные и т.д.) — за исключением редких ситуаций, когда это свойство гарантированно выполняется для всех языковых версий — например, в явном виде указано, что ответ следует дать на латыни или на английском языке;</li>
    <li>и т.п.</li>
</ul>

<p>В общем случае редакторам рекомендуется отказаться от подобных подсказок в пакетах, предназначенных для перевода, и использовать их с максимальной осторожностью и только в случае необходимости.</p>

<h1 id="3<span-id=3><span>-narusenia-i-vidy-igrovyh-sankcij">3.<span id="3"></span> Нарушения и виды игровых санкций</h1>

<p>За нарушения, допущенные в ходе соревнований, предусмотрены следующие виды игровых санкций:</p>

<h2 id="31<span-id=31><span>-preduprezdenie">3.1.<span id="3.1"></span> Предупреждение</h2>

<p>Члены организационной и технической групп, игрового и апелляционного жюри вправе выносить предупреждения командам или игрокам в случаях незначительных нарушений настоящих Правил, регламента соревнования и установленных игровой площадкой правил, если данные нарушения не влекут в обязательном порядке иных игровых санкций.</p>

<h2 id="32<span-id=32><span>-tehniceskij-nezacet-otveta">3.2.<span id="3.2"></span> Технический незачёт ответа</h2>

<p>3.2.1.<span id="3.2.1"></span> Члены технической группы вправе применять технический незачёт ответа в следующих случаях:</p>

<ul>
    <li>поступление ответа на неверно заполненном игровом бланке;</li>
    <li>изменение ответа после окончания отведённого на запись ответа времени, а также невыполнение требования о фиксации ответа, предотвращающей его изменение.</li>
</ul>

<p>3.2.2.<span id="3.2.2"></span> Члены организационной группы в обязательном порядке применяют технический незачёт ответа в следующих случаях:</p>

<ul>
    <li>нарушение в ходе розыгрыша вопроса требований настоящих Правил и регламента соревнования к составу команды;</li>
    <li>использование командой внешних источников информации (за исключением неподконтрольных командам) либо помощи третьих лиц.</li>
</ul>

<h2 id="33<span-id=33><span>-diskvalifikacia">3.3.<span id="3.3"></span> Дисквалификация</h2>

<p>Члены организационной группы вправе дисквалифицировать команды или игроков с соревнования в следующих случаях:</p>

<ul>
    <li>грубое нарушение настоящих Правил, регламента соревнования и установленных игровой площадкой правил, в т.ч. нарушение, упомянутое в п. <a href="#3.2.2">3.2.2</a>;</li>
    <li>повторное предупреждение.</li>
</ul>

<p>В случае дисквалификации команды её результат на соревновании аннулируется. В случае дисквалификации игрока он может быть заменён на другого игрока команды с соблюдением правил формирования состава и правопреемственности.</p>
</article>
